{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "globals": {
    "describe": true,
    "beforeEach": true,
    "before": true,
    "afterEach": true,
    "after": true,
    "it": true
  },
  "rules": {
    "no-console": 0,
    "no-unused-vars": 1,
    "global-require": 0
  }
}
